.sticky {
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 2;
    //background: linear-gradient(to left, rgb(127, 35, 248), rgb(84, 23, 163)) !important;
    background-color: rgb(84, 23, 163) !important;
    width: 100%;
}

.main-bar {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background: transparent;
    transition: 1s;
}