<!-- <section class="welcome-section">
    <nav>
        <div class="row main-bar">
            <div class="col-6 ta-l">
                <h1>TSK Army</h1>
            </div>
            <div class="col-6 ta-r">
                <div class="menu">
                    <div>Home</div>
                    <div>Home</div>
                    <div>Home</div>
                    <div>Home</div>
                </div>
            </div>
        </div>
    </nav>
</section> -->
<div>
    <p>
        {{content}}
    </p>
</div>